
    <!-- ====== Page Header ====== -->
    <div class="contact-us-area mr-top-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-content-three">
                        <h2 class="title">Contact us<br> live</h2>
                    </div><!-- /.section-title-area -->
                </div><!-- /.col-md-12 -->
            </div><!-- /.row -->
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-us-content-left">
                        <div class="contact">
                            <h4><i class="fa fa-map-marker"></i>Address</h4>
                            <p>112/B - Road 08/A Melbourne <br>Australia</p>
                        </div><!-- /.contact -->
                    
                        <div class="contact">
                            <h4><i class="fa fa-phone"></i>Call</h4>
                            <p>+88 0215469875 <br>666 35874692050</p>
                        </div><!-- /.contact -->

                        <div class="contact">
                            <h4><i class="fa fa-envelope"></i>Mail</h4>
                            <p>example@domain.com <br />  examplemail@domain.com</p>
                        </div><!-- /.contact -->

                        <div class="contact">
                            <h4><i class="fa fa-user-circle"></i>Social account</h4>
                            <div class="social-icon">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div><!-- /.Social-icon -->
                        </div><!-- /.contact -->
                    </div><!-- /.contactus-content-left -->
                </div><!-- /.col-md-4 -->
                
                <div class="col-md-8">
                    <div class="contact-us-content-right">
                      
                            <h3 class="from-title">Have a question?</h3>

                        
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            <div class="input-content clearfix">
                                <h4>Send Us A email</h4>
                                <div *ngIf="alert" class="alert alert-primary text-success" role="alert">
                                    Votre message est envoyée avec succes
                                   </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type="text" [(ngModel)]="contact.name" placeholder="Name*" class="form-control">
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-sm-6">
                                        <input type="email" [(ngModel)]="contact.email" placeholder="Email*" class="form-control Email">
                                    </div><!-- /.col-sm-6 -->
                                    <div class="col-md-12">
                                        <input type="search" placeholder="Subject*" [(ngModel)]="contact.subject" class="form-control website">
                                    </div><!-- /.col-md-12 -->
                                    <div class="col-md-12">
                                        <textarea rows="2" cols="80" [(ngModel)]="contact.message">your massage</textarea>
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                                <div class="subimt-button clearfix">
                                    <input (click)="send()" type="submit" value="Submit" class="submit yellow-button">
                                </div><!-- /.subimt -->
                            </div><!-- /.input-content -->
                   
                    </div><!-- /.contactus-content-right -->
                </div><!-- /.col-md-8 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.contact-us -->