    <!-- ====== Popular Vehicle Block ====== --> 
    <div class="popular-vehicle-block pd-90 ex-pdt-102 ex-pdtm-72">
        <div class="container">
            <div class="row tb default-margin-bottom yellow-theme">
                <!-- block-title-area -->
                <div class="col-md-9 col-sm-8 block-title-area tb-cell">
                    <div class="heading-content style-one border">
                        <h3 class="subtitle">Popular Rental Servises</h3>
                        <h2 class="title">Popular Taxi</h2>
                    </div><!-- /.heading-content-one -->
                </div><!-- /.col-md-9 -->

                <!-- block-navigation-area -->
                <div class="col-md-3 col-sm-4 hidden-xs block-navigation-area tb-cell">
                    <div class="pull-right">                    
                        <div class="item-navigation hidden-xs">
                            <a href="#" class="previous-item">
                                <i class="fa fa-angle-left"></i> 
                            </a>
                            <a href="#" class="next-item">
                                <i class="fa fa-angle-right"></i> 
                            </a>
                        </div><!-- /.item-navigation -->

                        <div class="view-all-item">
                            <a href="#" class="view-all-btn">View all</a>
                        </div><!-- /.view-all-item -->
                    </div><!-- /.pull-right -->
                </div><!-- /.col-md-3 -->
            </div><!-- /.row --> 

            <!-- vehicle-slider -->
            <div class="vehicle-slider slider-style-two owl-carousel" data-item="[4,2,1,1]">
                <div class="item">
                    <div class="vehicle-content theme-yellow">
                        <div class="vehicle-thumbnail">
                            <a href="#">
                                <img src="assets/images/popular/popular-01.png" alt="car-item" />
                            </a>
                        </div><!-- /.vehicle-thumbnail -->
                        <div class="vehicle-bottom-content">
                            <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                            <div class="vehicle-meta">
                                <div class="meta-item">
                                    <span>Rent:  $200 / </span> Day. -  $12 / Km.
                                </div>
                            </div><!-- /.meta-left -->
                        </div><!-- /.vehicle-bottom-content -->
                    </div><!-- /.car-content -->
                </div><!-- /.item -->

                <div class="item">
                    <div class="vehicle-content theme-yellow">
                        <div class="vehicle-thumbnail">
                            <a href="#">
                                <img src="assets/images/popular/popular-02.png" alt="car-item" />
                            </a>
                        </div><!-- /.vehicle-thumbnail -->
                            <div class="vehicle-bottom-content">
                               <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                                <div class="vehicle-meta">
                                    <div class="meta-item">
                                        <span>Rent:  $200 /</span> Day.  -  $12 / Km.
                                    </div>
                                </div><!-- /.meta-left -->
                            </div><!-- /.vehicle-bottom-content -->
                    </div><!-- /.car-content -->
                </div><!-- /.item -->

                <div class="item">
                    <div class="vehicle-content theme-yellow">
                        <div class="vehicle-thumbnail">
                            <a href="#">
                                <img src="assets/images/popular/popular-03.png" alt="car-item" />
                            </a>
                        </div><!-- /.vehicle-thumbnail -->
                            <div class="vehicle-bottom-content">
                               <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                                <div class="vehicle-meta">
                                    <div class="meta-item">
                                        <span>Rent:  $200 /</span> Day.  -  $12 / Km.
                                    </div>
                                </div><!-- /.meta-left -->
                            </div><!-- /.vehicle-bottom-content -->
                    </div><!-- /.car-content -->
                </div><!-- /.item -->

                <div class="item">
                    <div class="vehicle-content theme-yellow">
                        <div class="vehicle-thumbnail">
                            <a href="#">
                                <img src="assets/images/popular/popular-04.png" alt="car-item" />
                            </a>
                        </div><!-- /.vehicle-thumbnail -->
                            <div class="vehicle-bottom-content">
                               <h2 class="vehicle-title"><a href="#">Toyota Aygo</a></h2>
                                <div class="vehicle-meta">
                                    <div class="meta-item">
                                        <span>Rent:  $200 /</span> Day.  -  $12 / Km.
                                    </div>
                                </div><!-- /.meta-left -->
                            </div><!-- /.vehicle-bottom-content -->
                    </div><!-- /.car-content -->
                </div><!-- /.item -->
            </div><!-- /.vehicle-slider -->

            <!-- block-navigation-area -->
            <div class="block-navigation-area visible-xs-block">
                <div class="view-all-item clearfix">
                    <a href="#" class="view-all-btn">View all</a>
                </div><!-- /.view-all-item -->
            </div><!-- /.block-navigation-area -->
        </div><!-- /.container  -->
    </div><!-- /.Popular Vehicle Block --> 
