
    <!-- ======fun facts block======= -->
    <div class="fun-facts-block background-overlay" style="background-image:url(assets/images/fun-fect-image.png)">
        <div class="container">
            <div class="stat">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="milestone-counter">
                        <h3 class="stat-count highlight" data-form="0" data-to="250" data-speed="2500">250</h3>
                        <div class="milestone-details">Cars in Fleet</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="milestone-counter">
                        <h3 class="stat-count highlight" data-form="0" data-to="25845" data-speed="2500">25845</h3>
                        <div class="milestone-details">Happy Customers</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="milestone-counter">
                        <h3 class="stat-count highlight" data-form="0" data-to="245" data-speed="2500">245</h3>
                        <div class="milestone-details">Drivers</div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="milestone-counter">
                        <h3 class="stat-count highlight" data-form="0" data-to="525" data-speed="2500">525</h3>
                        <div class="milestone-details">Days in Business</div>
                    </div>
                </div>
            </div><!-- stat -->
        </div><!-- /.container -->
    </div><!-- /.fun-facts-block -->