
    <!-- ======footer area======= -->
    <div class="container footer-top-border">
        <div class="vehicle-multi-border yellow-black"></div><!-- /.vehicle-multi-border -->
    </div><!-- /.container -->

    <footer class="footer-block bg-black" style="background-image: url(assets/images/footer-bg.png);">
        <div class="container">
            <!-- footer-top-block -->
            <div class="footer-top-block yellow-theme">            
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_about">    
                            <h3 class="widget-title">
                                About us 
                            </h3><!-- /.widget-title -->
                            <div class="widget-about-content">
                                <img src="assets/images/car-logo.png" alt="logo" />
                                <p>
                                   
                                    Service fiable et ponctuel à nantes   
                                    Avec de nombreuses années d’expériences, nos chauffeurs sont très qualifiés pour vous rendre service.
                                    Nous sommes assurés et couvert auprès de MAAF assurance , responsabilité civile et rc pro</p>
                              
                            </div><!-- /.widget-content -->
                        </div><!-- /.widget widget_about -->
                    </div><!-- /.col-md-3 -->
                    <div class="col-md-2 col-sm-6">
                        <div class="widget widget_menu">
                            <h3 class="widget-title">
                                Useful link
                            </h3><!-- /.widget-title -->
                            <ul>
                                <li><a href="#">Acceuil</a></li>
                                <li><a href="#"> A propos</a></li>
                                <li><a href="#">Reserver</a></li>
                                <li><a href="#">Contacter Nous</a></li>
                              
                            </ul> 
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">
                        <div class="widget widget_hot_contact">
                            <h3 class="widget-title">
                                Hot contact 
                            </h3><!-- /.widget-title -->
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope"></i>imedelmzoughi@hotmail.fr</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+33652609388</a></li>
                                <li><a href="#"><i class="fa fa-map-marker"></i>Nantes, France</a></li>
                            </ul> 
                        </div><!-- /.widget -->
                      
                    </div><!-- /.col-md-3 -->

                    <div class="col-md-4 col-sm-6">
                        <div class="widget widget_photo_gallery">
                            <h3 class="widget-title">
                                Photo Gallery  
                            </h3><!-- /.widget-title -->
                            <ul class="photo-gallery-content">
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-01.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-02.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-03.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-04.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-05.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-06.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-07.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-08.png" alt="instagram" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="assets/images/instagram-09.png" alt="instagram" />
                                    </a>
                                </li>
                            </ul><!-- /.instagram-image-content -->
                        </div><!-- /.widget -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div><!-- /.footer-top-block -->

            <!-- footer-bottom-block -->
            <div class="footer-bottom-block">            
                <div class="row">
                     <div class="col-md-9">
                        <div class="bottom-content-left">
                            <p class="copyright">Copyright &copy; 2020 </p>
                        </div><!-- /.bottom-top-content -->
                     </div><!-- /.col-md-9 -->
                     <div class="col-md-3">
                        <div class="bottom-content-right">
                            <div class="social-profile">
                                <span class="social-profole-title">Follow Us:</span>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </div><!-- /.social-profile -->
                        </div><!-- /.bottom-content-right -->
                     </div><!-- /.col-md-3 -->
                </div><!-- /.row -->
            </div><!-- /.footer-bottom-block -->
        </div><!-- /.container -->
    </footer><!-- /.footer-block -->